<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login - Crime Data Analysis</title>
    <link rel="stylesheet" href="static/CSS/index.css" />
    <link rel="stylesheet" href="static/CSS/login.css" />
  </head>
  <body>
    <header>
      <img src="static/Images/gujaratpolice.png" alt="Logo" class="logo" />
      <div class="title">
        <h1>Crime Data Analysis</h1>
        <h2>Govt. of Gujarat</h2>
      </div>
      <div class="menu-icon" onclick="toggleSidePanel()">
        <div class="dots-container">
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
        </div>
      </div>
    </header>

    <div class="side-panel" id="sidePanel">
      <div class="close-icon" onclick="toggleSidePanel()">X</div>
      <!-- Close icon -->
      <a href="index">Home</a>
      <a href="news">News</a>
      <a href="reportcrime">Report a crime</a>
      <a href="dashboard">My Profile</a>
      <a href="contactus">Contact Us</a>
      <a href="help">Help</a>
    </div>

    <div class="main-content">
      <div class="login-section">
        <h2 style="text-align: center">Login</h2>
        <form action="login" method="POST">
          {% csrf_token %}
          <label for="username">Username:</label>
          <input type="text" id="username" name="username" required />

          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required />

          {% if msg %}
          <p style="color: red; font-size: large"><b>{{msg}}</b></p>
          {% endif %}

          <div class="remember-me">
            <input type="checkbox" id="remember" name="remember" />
            <label for="remember">Remember Me</label>
          </div>
          <div class="forgot">
            <label><a href="forgot">Forgot Password?</a></label>
          </div>
          <button type="submit">Login</button>
        </form>
      </div>
    </div>
    <section class="register-section">
      <p class="register">Not Registered?</p>
      <div>
        <button type="button">
          <a href="register" style="text-decoration-line: none; color: white"
            >Create an account</a
          >
        </button>
      </div>
    </section>

    <footer class="footer">
      <p>&copy; 2023 Crime Data Analysis</p>
    </footer>

    <script>
      function toggleSidePanel() {
        var sidePanel = document.getElementById("sidePanel");
        var dotsContainer = document.getElementById("dotsContainer");
        var closeIcon = document.querySelector(".close-icon");
        if (sidePanel.style.right === "-350px") {
          sidePanel.style.right = "0";
          dotsContainer.style.display = "none"; // Hide the dots when side panel is open
          closeIcon.style.display = "block"; // Show the close icon
        } else {
          sidePanel.style.right = "-350px";
          dotsContainer.style.display = "flex"; // Show the dots when side panel is closed
          closeIcon.style.display = "none"; // Hide the close icon
        }
      }
    </script>
  </body>
</html>
