<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset password</title>
    <link href="static/CSS/reset.css" type="text/css" rel="stylesheet" />
    <link href="static/CSS/index.css" type="text/css" rel="stylesheet" />
    <!--  <script src="JS/js.js" type="text/javascript"></script>-->
    <!--<link href="https://unpkg.com/leaflet/dist/leaflet.css" rel="stylesheet" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>-->
  </head>
  <body>
    <header>
      <img src="static/Images/gujaratpolice.png" alt="Logo" class="logo" />
      <div class="title">
        <h1>Crime Data Analysis</h1>
        <h2>Govt. of Gujarat</h2>
      </div>
      <div class="menu-icon" onclick="toggleSidePanel()">
        <div class="dots-container">
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
        </div>
      </div>
    </header>

    <div class="side-panel" id="sidePanel">
      <div class="close-icon" onclick="toggleSidePanel()">X</div>
      <!-- Close icon -->
      <a href="index">Home</a>
      <a href="news">News</a>
      <a href="reportcrime">Report a crime</a>
      <a href="dashboard">My Profile</a>
      <a href="contactus">Contact Us</a>
      <a href="help">Help</a>
    </div>

    <div class="main-content">
      <div>
        <img src="static/Images/forgot-psw.png" alt="image" class="image" />
      </div>
      <section class="reset_psw-section">
        <h1 style="text-align: center">Reset password</h1>
        <form action="reset" method="POST">
          {% csrf_token %}
          <table>
            <tr>
              <label for="otp">Enter OTP: </label>
              <input type="number" id="otp" name="otp" required />
              {% if msg1 %}
              <p style="color: red; font-size: large"><b>{{msg1}}</b></p>
              {% endif %}
            </tr>
            <tr>
              <label for="password">Enter new Password: </label>
              <input type="password" id="password" name="password" required />
            </tr>
            <tr>
              <label for="cpassword">Confirm Password: </label>
              <input type="text" id="cpassword" name="cpassword" required />
              {% if msg2 %}
              <p style="color: red; font-size: large"><b>{{msg2}}</b></p>
              {% endif %}
            </tr>
            <tr>
              <td colspan="2"><button type="submit">Reset password</button></td>
            </tr>
          </table>
        </form>
      </section>
    </div>

    <footer class="footer">
      <p>&copy; 2023 Crime Data Analysis</p>
    </footer>

    <script>
      function toggleSidePanel() {
        var sidePanel = document.getElementById("sidePanel");
        var dotsContainer = document.getElementById("dotsContainer");
        var closeIcon = document.querySelector(".close-icon");
        if (sidePanel.style.right === "-350px") {
          sidePanel.style.right = "0";
          dotsContainer.style.display = "none"; // Hide the dots when side panel is open
          closeIcon.style.display = "block"; // Show the close icon
        } else {
          sidePanel.style.right = "-350px";
          dotsContainer.style.display = "flex"; // Show the dots when side panel is closed
          closeIcon.style.display = "none"; // Hide the close icon
        }
      }
    </script>
  </body>
</html>
