<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update Area</title>
    {% load static %}
    <link
      href="{% static 'CSS/aupdate.css' %}"
      type="text/css"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <img
        src="{% static 'Images/gujaratpolice.png' %}"
        alt="Logo"
        class="logo"
      />
      <div class="title">
        <h1>Crime Data Analysis</h1>
        <h2>Govt. of Gujarat</h2>
      </div>
    </header>
    <div class="option">
      <h4><a href="dashboard">Dashboard</a></h4>
      <h4><a href="addauth">Add Legal Authority</a></h4>
      <h4><a href="auth">See Legal Authority</a></h4>
      <h4><a href="addnews">Add News</a></h4>
    </div>
    <div class="main-content">
      <table>
        <tr>
          <th colspan="2">Update Area</th>
        </tr>
        <tr>
          <td>Old Area:</td>
          <td>{{rcarea1}}</td>
        </tr>
        <tr>
          <form method="POST" action="dashboard">
            {% csrf_token %}
          <td>New Area:</td>
          <td><input type="text" name="area1" id="area1" required /></td>
        </tr>
        <tr>
          <td>Old Department:</td>
          <td>{{rcdept}}</td>
        </tr>
        <tr>
          <td>New Department:</td>
          <td><input type="text" name="dept" id="dept" required /></td>
        </tr>
        <tr>
          <td style="text-align: center" colspan="2">
              <input type="hidden" name="hiddenemail" value="{{rcemail}}" />
              <button
                type="submit"
                name="updated"
                id="updated"
                style="width: 100px"
              >
                Update
              </button>
            </form>
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>
