body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  position: relative;
}

* {
  box-sizing: border-box;
}

header {
  background-color: #333;
  color: #fff;
  height: 120px;
  text-align: left;
  padding: 1em 0;
  padding-left: 30px;
  display: flex;
  flex-direction: row;
  font-family: "Times new roman", sans-serif;
  justify-content: space-between;
}

.logo {
  width: 60px;
  height: 70px;
  margin-right: 20px;
}

.title {
  margin-right: 700px;
}

header h1 {
  margin: 0;
  font-size: 40px;
}

header h2 {
  margin: 0;
  font-size: 18px;
  color: #fff;
  text-align: left;
}

.side-panel {
  position: fixed;
  top: 0;
  right: -350px;
  width: 250px;
  height: 100%;
  background-color: #333;
  color: #333;
  padding: 20px;
  transition: right 0.3s ease;
  font-size: 26px;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-left: 2px solid #333;
}

.side-panel a {
  margin-top: 20px;
  display: block;
  color: #fff;
  text-decoration: none;
  margin-bottom: 30px;
}

.close-icon {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
  font-size: 20px;
}

.menu-icon {
  cursor: pointer;
  padding: 15px;
}

.dots-container {
  width: 20px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dot {
  width: 100%;
  height: 3px;
  background-color: #fff;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin-top: 20px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin-bottom: 70px;
  align-self: center;
}
.container h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  margin-bottom: 30px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}
p {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.article-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #3498db;
}
.article-content {
  margin-bottom: 15px;
  color: #555;
}
.read-more-link {
  color: #3498db;
  text-decoration: none;
  transition: color 0.3s ease;
}
.read-more-link:hover {
  color: #2980b9;
}
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1em 0;
  width: 100%;
  margin-top: auto;
}
