.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(160vh - 180px);
  margin-top: 20px;
  margin-bottom: 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 50px auto;
}

.left-side {
  width: 45%;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.right-side {
  width: 55%;
  padding: 20px;
}

form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  width: 50%;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box;
  align-self: center;
  align-items: center;
}

button:hover {
  background-color: #555;
}

.contact-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.contact-info img {
  width: 150px;
  height: 150px;
  margin-left: 40px;
}
