.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(160vh - 180px);
  margin-top: 50px;
  margin-bottom: 20px;
}

.personal-data {
  max-width: 700px;
  width: 100%;
  margin: auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin-bottom: 70px;
}

.complaint-data {
  max-width: 700px;
  width: 100%;
  margin: auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin-bottom: 150px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #000000;
  border-radius: 5px;
  overflow: hidden;
}

th {
  background-image: linear-gradient(
    to right,
    rgba(79, 91, 102),
    rgba(255, 255, 230)
  );
  color: white;
  padding: 10px;
  border-radius: 4px;
  font-size: large;
  text-align: center;
  align-self: center;
}

td {
  padding: 10px;
  text-align: left;
}

td:nth-child(1),
th:nth-child(1) {
  width: 200px;
}

td:nth-child(2),
th:nth-child(2) {
  width: 200px;
}

tr:hover {
  background-color: #f5f5f5;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.dataheader {
  font-weight: bolder;
}

button {
  max-width: 500px;
  width: 100%;
  padding: 10px 20px;
  background-color: rgba(79, 91, 102);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box;
  align-self: center;
}

button:hover {
  background-color: #555;
}
