body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h1,
h2,
h3 {
  color: #333;
}

.faq-item {
  margin-bottom: 20px;
}

.faq-item h3 {
  margin-top: 0;
}

.contact-section ul {
  list-style-type: none;
  padding: 0;
}

.contact-section ul li {
  margin-bottom: 5px;
}

.contact-section ul li:before {
  content: "\2022";
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
