.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(160vh - 180px);
  margin-top: 20px;
  margin-bottom: 20px;
}

.reset_psw-section {
  justify-content: center;
  align-items: center;
  max-width: 500px;
  width: 100%;
  margin: auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin-bottom: 150px;
}

form {
  display: flex;
  flex-direction: column;
}

.image {
  padding-top: 20px;
  margin-top: 20px;
  width: 100px;
  height: 100px;
}

label {
  margin-bottom: 8px;
}

input {
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

button {
  width: 100%;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box;
}

button:hover {
  background-color: #555;
}
